.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  display: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  background-image: url('./duotone.png');
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.messages{
  width: 30%;
  height: 60vh;
  background: #5A2B55;
  padding: 20px;
  border-radius: 2%;
  opacity: 0.9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

button{
  padding: 10px;
  outline: none;
  border: none;
  margin: 1px;
  box-shadow: rgba(0, 0, 0, 0.25) 5px 5px 25px 0px;
  cursor: default;
}

input{
  padding: 10px;
  border: none;
  margin: 1px;
}

.cake{
  background-image: url(./cake.png);
  width: 100px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
  animation: cake 3s infinite ease-in-out;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes cake {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
